  <div className="mainContent">
    <h1  class="tlt" data-in-effect="bounce">Contact Info</h1>
      <p>Personal email: <a href="mailto:emmy.j.zhang@gmail.com">emmy.j.zhang@gmail.com</a></p>
      <p>School email: <a href="mailto:zhan2235@purdue.edu">zhan2235@purdue.edu</a></p>
      <p>Github username: <a target="github" href="https://www.github.com/emmy917917">emmy917917</a></p>
      <p>LinkedIn: <a target="linkedin" href="https://www.linkedin.com/in/zhangemmy">zhangemmy</a></p>
  </div>
