<h1 class="tlt" data-in-effect="rotateIn">Projects</h1>
<ul>
  <li ><a target="phantomcss" href="https://github.exacttarget.com/Core/Contacts-Audience-Builder#testing-with-phantomcss">PhantomCSS</a></li>
  <li><a target="contacs-audience-builder" href="https://github.exacttarget.com/Core/Contacts-Audience-Builder">Contact-Audience Builder Tickets:</a></li>
  <ul>
    <li>ES lint fixes</li>
    <li>Audience Builder Pageheader</li>
    <li>Environment Endpoints</li>
  </ul>
  <li><a target="event-force" href="https://event-force.herokuapp.com">Eventforce App/Logo</a></li>
  <li><a target="postcards" href="https://docs.google.com/presentation/d/1bjrNWtKXc0PbGtybjjUY1Bnf_OKBfKI8hVYzToOa1Cg/edit#slide=id.p">UX SLDS Postcards</a></li>
  <li>Internship Summary Website (originally a deployment schedule app)</li>
</ul>
