<h1>Special Thanks</h1>
<p>Many thanks to everyone for taking the time</p>
  <p>for coffee chats and to answer my questions!</p>
<ul>
  <li>Julie Audenaert</li>
  <li>Peter Hendrickson</li>
  <li>Andy Engle</li>
  <li>Jared Wilcurt</li>
  <li>Lauren Wigton</li>
  <li>Jeff Hanson</li>
  <li>Kim Stratton</li>
  <li>Jeff Reagan</li>
  <li>Dan May</li>
  <li>Soumya Pusapati</li>
  <li>Sirisha Kadari</span></li>
  <li>Matt Wells</li>
  <li>Shahn Sheikh</li>
  <li>Dan Golant</li>
  <li>Vikram Charthankar</li>
  <li>Matt Beard</li>
  <li>Jamin Hall</li>
  <li>David Brainer-Banker</li>
  <li>Jason Day</li>
  <li>Joshua Sarver</li>
  <li>Thomas Besluau</li>
  <li>Sandy Dale</li>
  <li>Tony Newcome</li>
  <li>Casey Kramer</li>
  <li>Scott McDaniel</li>
  <li>Susan Punnoose</li>
</ul>
