<h1 class="tlt" data-in-effect="fadeIn">Special Thanks</h1>
<p class="tlt" data-in-effect="fadeIn">Many thanks to everyone for taking the time</p>
<p class="tlt" data-in-effect="fadeIn">for coffee chats and to answer my questions!</p>
<ul class="thanks">
  <li class="tlt" data-in-effect="fadeIn">Julie Audenaert</li>
  <li class="tlt" data-in-effect="fadeIn">Peter Hendrickson</li>
  <li class="tlt" data-in-effect="fadeIn">Andy Engle</li>
  <li class="tlt" data-in-effect="fadeIn">Jared Wilcurt</li>
  <li class="tlt" data-in-effect="fadeIn">Lauren Wigton</li>
  <li class="tlt" data-in-effect="fadeIn">Jeff Hanson</li>
  <li class="tlt" data-in-effect="fadeIn">Kim Stratton</li>
  <li class="tlt" data-in-effect="fadeIn">Jeff Reagan</li>
  <li class="tlt" data-in-effect="fadeIn">Dan May</li>
  <li class="tlt" data-in-effect="fadeIn">Soumya Pusapati</li>
  <li class="tlt" data-in-effect="fadeIn">Sirisha Kadari</span></li>
  <li class="tlt" data-in-effect="fadeIn">Matt Wells</li>
  <li class="tlt" data-in-effect="fadeIn">Shahn Sheikh</li>
  <li class="tlt" data-in-effect="fadeIn">Dan Golant</li>
  <li class="tlt" data-in-effect="fadeIn">Vikram Charthankar</li>
  <li class="tlt" data-in-effect="fadeIn">Matt Beard</li>
  <li class="tlt" data-in-effect="fadeIn">Jamin Hall</li>
  <li class="tlt" data-in-effect="fadeIn">David Brainer-Banker</li>
  <li class="tlt" data-in-effect="fadeIn">Jason Day</li>
  <li class="tlt" data-in-effect="fadeIn">Joshua Sarver</li>
  <li class="tlt" data-in-effect="fadeIn">Thomas Besluau</li>
  <li class="tlt" data-in-effect="fadeIn">Sandy Dale</li>
  <li class="tlt" data-in-effect="fadeIn">Tony Newcome</li>
  <li class="tlt" data-in-effect="fadeIn">Casey Kramer</li>
  <li class="tlt" data-in-effect="fadeIn">Scott McDaniel</li>
  <li class="tlt" data-in-effect="fadeIn">Susan Punnoose</li>
</ul>
